.king{
    color: teal;
    font-size: xx-large;
    text-align: center;
    font-family: 'Andika New Basic', sans-serif;
    border: 1px solid red;
    padding: 100px;
    margin: 100px;
    font-style: oblique;
    width: 700px;
}